{%extends 'music/bace.html'%}
{%load crispy_form_tags%}
{%block title%}New Song{%endblock%}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-body">
                    <h3 class="text-primary text capitalize">new song</h3>
                    <hr>
                    <form method="post"enctype="multipart/form-data">
                        {% if message%}
                        <div class="alert alert-primary">
                        <h4 class="text-danger">{{ message }}</h4>
                        </div>
                        {%endif%}
                        {%csrf_token%}
                        {{form|crispy}}
                        <div class="form-group">
                            <button type="submit"class="btn btn-info">Submit</button>
                        </div>
                    </form>

            </div>

                </div>
        </div>
    </div>
</div>
{% endblock %}
