

{% extends 'music/base.html'%}
{% block title %}  {% endblock%}
{% block content %}


<div class="container-fluid">
        <div class="row">
            {% if albums %}
                {% for album in albums %}
                            <div class="col-sm-3">
                                <div class='thumbnail'>
                                    <a href="{%url 'music:detail' album.id%}">
                                    <img src="{{album.album_cover.url}}" class="img-responsive" alt=""style="height:200px;width:100px;">
                                    </a>

                                            <div class="caption">
                                                <h4>{{album.album_name}}</h4>
                                                <h5>{{album.artist_name}}</h5>
                                                <a href="{%url 'music:album-update' album.id%}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                                                <a href="{%url 'music:album-delete' album.id%}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                                <a href=""class="btn btn-success btn-sm" style="float:right;"><i class="fas fa-heart"></i>"</a>


                                            </div>
                                </div>
                            </div>

                {%endfor%}
            {% endif %}
        </div>
    </div>

{%endblock%}